PORT=8000
# MONGODB_URI=
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=chai-aur-coderteuryukiyu
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-aur-backendotyuttit
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# here just to use in differ pcs again and again